# Домашнее задание #1

Задачи:
1) Отрисовать схему (достаточно 1 слайда) пайплайна работы цифрового двойника для имитационного моделирования изменений в процессе на основе "соревновательной модели"
2) Написать скрипт на Python для реализации пайплайна работы цифрового двойника для имитационного моделирования изменений в процессе на основе "соревновательной модели"


Что должен содержать пайплайн:
1) Пользователь подает датасет с метриками на вход
2) Запускается функция для факторного анализа, оценивающая, значимость влияния каждой метрики (фичи) на каждую метрику (таргет) на основе "соревновательной модели"
3) Запускается функция AutoML построения ML-моделей для каждой метрики в датасете
4) Пользователь задает метрику для изменения
5) Функция из пункта 3 пересчитывает значения метрик датасета, при изменении метрики, которую ввёл пользователь
6) Запускается функция с AutoML для прогноза (рассматривали на позапрошлом занятии), куда в качестве последних данных по "факту" добавляются значения метрик, рассчитанные в 5
7) Рассчитываем прогноз показателей с помощью AutoML из пункта 6
8) Возвращаемся к пункту 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
seed = 42
np.random.seed(seed)

In [5]:
import os
import platform

if platform.system() == "Windows":
    prefix = "data\\"
else:
    prefix = "data/"

if os.path.isfile(prefix + "frame.csv"):
    df = pd.read_csv(prefix + "frame.csv")
else:
    cols = 20
    rows = 1000
    df = pd.DataFrame(np.random.rand(rows)*100, columns=['target'])
    df["feature1"] = df["target"] * np.random.exponential(10, size=rows) - np.random.exponential(1/3, size=rows)
    df["feature2"] = df["target"] * np.random.normal(1, scale=3, size=rows)
    df["feature3"] = np.random.uniform(low=df["target"]-6*np.random.rand()*df["target"].max(), high=df["target"]+np.random.rand()*df["target"].min(), size=rows)
    df["feature4"] = 1+6*np.random.exponential(df["target"], size=rows)
    df["feature5"] = np.random.exponential(np.random.rand(rows)*100, size=rows)
    df.to_csv(prefix+"frame.csv", index=False)

df.head()

      target     feature1    feature2   feature3     feature4   feature5
0  37.454012    76.578567  156.550622 -25.033389   138.180529  12.804653
1  95.071431   742.099437  271.050346  90.508905   368.677414  14.414960
2  73.199394  1509.418237  223.309975 -20.405368   215.259009  89.052339
3  59.865848   788.701383 -185.456444 -81.280052  1223.119012  42.752762
4  15.601864   256.200664   72.327620 -83.803827   112.825236  10.403497

In [6]:
df.corr()['target']

target      1.000000
feature1    0.459641
feature2    0.126822
feature3    0.567200
feature4    0.445551
feature5    0.046214
Name: target, dtype: float64